.gradle/
build/
.kotlin/

local.properties

*.log

captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
app/release/

*.iml
.idea/
.claude/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

*.jks
*.keystore

google-services.json

*.hprof